.bold {
    font-weight: bold;
}

.post {
    
    padding-top: 5%;
   
}

.Header {
    display: flex;
    align-items: center;
}

.activityBar img {
    margin-right: 15%;
  
}

.item{
    margin: 1%;
}
.userName{
    font-weight: bold;
}

.profilePhoto {
    border-radius: 50%;
    width: 7%;
    margin: 2%;
}

.postPhoto {
    object-fit: cover;
    width: 100%;
}



.postTimestamp {
    font-weight: bold;
    font-size: 75%;
    color: #a1a1a1;
    margin-top: 0;
}

.addComment{
    margin-top: 6px;
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
    display: flex;
}
.addComment input{
    background: none;
    border: none;
    height: 16px;
    outline: none;
    font:inherit;
    padding: 0;
    width: 100%;
}
.addComment ::placeholder { 
    color: #999;
}
.addComment button{
    color:#3897f0;
    font-weight: 600;
    font-size: 16px;
}